body {
    min-width: 100vh;
    min-height: 100vh; 
    background-color: #fff;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
}

.container {
    width: 75%;
    max-width: 1440px !important; 
    margin: 0 auto !important;   
    padding: 40px 20px !important;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    font-size: 100px;
    font-weight: 400;
    color: #000;
    text-indent: -44px; 
    text-align: left;
}

/* blockquotes*/

.page1 blockquote {
    font-family: Agdasima;
    font-size: 105px;
    text-indent: -31px;
}
.page2 blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-indent: -50px;
    line-height: 125%;
}
.page3 blockquote {
    font-family: "Libre Caslon Text", serif;
    font-weight: 600;
    text-indent: -48px;
    line-height: 153%;
}
.page4 blockquote {
    font-family: "DotGothic16", serif;
    text-indent: -50px;
    line-height: 135%;
}
.page5 blockquote {
    font-family: "Jersey 25";
    line-height: 125%; 

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.96px;
    padding-left: 350px;
    text-align: left;
    margin-top: 15px;     
    margin-bottom: 15px; 
}

p:last-child {
    margin-bottom: 50px; 
}

/* navigation- home,about*/
.main-nav {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: 'Courier New', monospace;
}

.main-nav li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    transition: color 0.3s ease;
}

.main-nav li a:hover {
    color: gray;
}

/* Back */
.back-nav {
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    list-style: none;
    font-family: 'Courier New', monospace;
}

.back-nav li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    transition: color 0.3s ease;
}

.back-nav li a:hover {
    color: gray;
}

/* navigation between pages*/
.pagination {
    width: 100%;
    text-align: center;
}


.nav-item img {
    width: 70px;
    padding-bottom: 30px;
    opacity: 0.3; 
    transition: opacity 0.3s ease-in-out;

}

.nav-item:hover img {
    opacity: 0.7; 
}

.nav-item img.active-icon {
    opacity: 1; 
}

/* mobile */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 500px !important;
        padding-top: 100px !important;
        margin: 0 auto;
    }
    blockquote {
        font-size: 32px !important;
        line-height: 140%;
        max-width: 100%;
        text-align: center;
        text-indent: 0 !important; /* 모바일에서는 text-indent 제거 */
        padding: 0 10px;
    }
    
    p {
        font-size: 14px;
        max-width: 100%;
        padding: 0 10px;
        text-align: left;
        line-height: 160%;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .nav-item img {
        width: 40px;
    }

    .main-nav, .back-nav {
        position: absolute;
        top: 10px;
        right: 40px;
        gap: 20px;
        font-size: 10px !important;
    }
}